{% extends "base.html" %} 

{% block head %}

<title>Todo List</title>

 {% endblock %} 


{% block body %} 

<div class="content">
    <h1>Todo List</h1>
    {% if tasks | length < 1 %}
    <h3>No tasks yet. Add one below!</h3>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{task.content}}</td>
                <td>{{task.created.strftime("%Y-%m-%d") }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br/>
                    <a href="/edit/{{task.id}}">Edit</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form action="/" method="post">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task" id="btn_add">
    </form>
</div>

{% endblock %} 